In [122]:
import numpy as np
import pandas as pd
import re
RANDOM_SEED = 7382

In [123]:
tweets_df = pd.read_csv('Twibot-20/tweets_explode.csv')
print(tweets_df.shape)
tweets_df.dropna(inplace=True)
tweets_df.sample(10)

(1999868, 3)

,ID,tweet,label
1465404,23369458,RT @hmcheadliner: .@djfive &amp; @EricDlux ann...,0
600570,271270865,"Thereâ€™s no WNBA tonight, Iâ€™ll be in this showâ€™...",1
1968107,3434488384,Have you heard? IU has partnered with @joinhan...,1
867976,524173069,Left over bread? Avoid food waste and spread o...,1
811616,325360668,"RT @fitoflores: Lo que es yo, no pienso acatar...",0
490049,1180335231724904448,@D1Jay3 Bro check out this short video I made ...,1
539943,408773021,"@MeghanMcCain Well, you can't fix stupid..let ...",1
404309,89301054,@GrimandiTweets_ So get rid of xhaxa is what y...,1
1789315,559680369,"RT @mauriciomacri: Daniel, Â¿cÃ³mo se condice tu...",0
1537383,2455768973,@MuslimsMatters allahu akbar\n,1

In [124]:
def extract_num_mentions(tweet, unique=False):
    mentions = re.findall(r'@\w+', tweet)
    if unique:
        return len(set(mentions))
    else:
        return len(mentions)

In [125]:
def is_retweet(tweet):
    return 1 if tweet.startswith('RT') else 0

In [126]:
# using regex expression from https://www.geeksforgeeks.org/extract-urls-present-in-a-given-string/
def extract_num_links(tweet, unique=False):
    # remove comma or peroid as they throw off the regex
    links = re.findall(r'\b((?:https?|ftp|file)://[-a-zA-Z0-9+&@#/%?=~_|!:, .;]*[-a-zA-Z0-9+&@#/%=~_|])', tweet)
    if links:
        links = [link.split() for link in links][0]
        links = [link for link in links if (link.startswith('http') or link.startswith('ftp') or link.startswith('file'))]
    if unique:
        return len(set(links))
    else:
        return len(links)

In [127]:
for tweet in tweets_df['tweet'].sample(10):
    print(extract_num_links(tweet))

0
0
0
1
0
0
0
0
0
0

In [128]:
tweets_df.loc[:, 'num_mentions'] = tweets_df['tweet'].apply(extract_num_mentions)
tweets_df.loc[:, 'num_links'] = tweets_df['tweet'].apply(extract_num_links)
tweets_df.loc[:, 'is_retweet'] = tweets_df['tweet'].apply(is_retweet)

In [129]:
tweets_df.sample(10)

,ID,tweet,label,num_mentions,num_links,is_retweet
525412,21754872,Greek court finds Harry Maguire guilty of assa...,0,0,1,0
135738,769762994,At #renio '14: Let @bobmccune show you how to ...,1,1,1,0
764705,4901130713,@LucySplarn @liber_ray @maxkramer1985 It turns...,1,4,0,0
355239,19779135,"RT @jstorres: ""Success is not final, failure i...",1,1,0,1
687192,113050195,These restaurants are extending the Eat Out to...,0,0,1,0
1632758,1064892085843738624,RT @CafeWander: Register for AMex Shop Small o...,0,1,0,1
1495260,942928018200236032,Check out my eBay store. Buy 3 or more cards a...,1,0,1,0
951718,1239397064003510272,Just wanna give the HUGEST shoutout ðŸ¥³ to the G...,0,0,1,0
1160701,103111232,RT @BASportsGuy: Luzardo got Pujols way out in...,0,1,0,1
1461728,1363413253,RT @RealJamesWoods: #Reparations\n,1,1,0,1

In [130]:
tweets_df.sort_values(['num_links'], ascending=False)

,ID,tweet,label,num_mentions,num_links,is_retweet
250309,14506253,The 3rd ep of #TheDarkestTimeline podcast is u...,0,2,5,0
1708994,3518971516,RT @AliceeBrookees: https://t.co/YIyGvVMR9r ht...,1,1,5,1
1435356,3408032129,"@Liqui_Exchange @enjin Out on liqui, get tradi...",1,2,5,0
250290,14506253,The 5th ep of #TheDarkestTimelinePodcast calle...,0,1,5,0
209191,1142942118056357888,This is why for securing data and email and me...,1,0,5,0
...,...,...,...,...,...,...
863252,53972789,RT @LordAshcroft: I nearly died from septic sh...,1,1,0,1
863251,53972789,@SethAbramson What did you think of the Hardin...,1,1,0,0
863249,53972789,@paddycosgrave Thanks Paddy\n,1,1,0,0
863248,53972789,@paddycosgrave Probably because ordinary surgi...,1,1,0,0
999930,288031625,@RocioFelgueri Jajajjaja te amoðŸ’“ðŸ˜‚\n,0,1,0,0

In [131]:
print(extract_num_links(tweets_df.loc[250309, 'tweet']))
tweets_df.loc[250309, 'tweet']

5

'The 3rd ep of #TheDarkestTimeline podcast is up! And good newsâ€”-@kenjeong is finally funny in this one. Congrats Ken!! Also @dannypudi drops in. Available all these places: https://t.co/Bh8F250yV9   https://t.co/Hy2xF0Y4aB https://t.co/BFvpizMKK3 https://t.co/hbgu9DiXtR https://t.co/ifwMfQisa2\n'

In [136]:
tweets_df['num_tweets'] = 1
user_level = tweets_df[['ID', 'num_mentions', 'num_links', 'is_retweet', 'num_tweets']].groupby(['ID']).sum().reset_index()
user_level.sample(10, random_state=RANDOM_SEED)

                        ID  num_mentions  num_links  is_retweet  num_tweets
1897              40500701           177        198           0         200
3221             131660202           251         43          75         197
7325            2647336598             7          1           0          13
8110            3807433636           233         17           5         119
2143              49058640           160         32          20         200
4111             248232279           121         95          54         199
6892            2248855666           328        102         105         199
10693  1188566156120150016           238         26         173         199
9911   1030687460102168576            78        149          16         200
4344             277915276           254         43         170         196

In [137]:
for col in user_level.columns[1:-1]:
    user_level[col] = user_level[col] / user_level.iloc[:, -1]
user_level.sample(10, random_state=RANDOM_SEED)

                        ID  num_mentions  num_links  is_retweet  num_tweets
1897              40500701      0.885000   0.990000    0.000000         200
3221             131660202      1.274112   0.218274    0.380711         197
7325            2647336598      0.538462   0.076923    0.000000          13
8110            3807433636      1.957983   0.142857    0.042017         119
2143              49058640      0.800000   0.160000    0.100000         200
4111             248232279      0.608040   0.477387    0.271357         199
6892            2248855666      1.648241   0.512563    0.527638         199
10693  1188566156120150016      1.195980   0.130653    0.869347         199
9911   1030687460102168576      0.390000   0.745000    0.080000         200
4344             277915276      1.295918   0.219388    0.867347         196